.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
    color: #343a40;
    font-family: 'Arial', sans-serif;
  }
  
  .not-found-title {
    font-size: 6rem;
    margin: 0;
    color: #dc3545; /* Rouge pour le 404 */
  }
  
  .not-found-message {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .not-found-home-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff; /* Couleur bleue */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .not-found-home-button:hover {
    background-color: #0056b3; /* Couleur bleue plus sombre au survol */
  }
      