.sidebar {
    width: 250px;
    background-color: #343a40; /* Couleur sombre */
    color: #ffffff;
    padding: 1rem;
  }
  
  .sidebar h2 {
    color: #ffffff;
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-links li {
    padding: 34px 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-weight: 900;
}
  
  .sidebar-links li:hover {
    color: #007bff; /* Couleur bleue au survol */
  }
  